body {
  min-height: 100vh;
  background-color: orange;
  color: white;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
