* {
  margin: 0px;
  padding: 15px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-column-start: 1;
  grid-column-end: -1;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav {
  display: grid;
  grid-column-start: 2;
}

.aside {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.middle {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
}

.container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: fit-content (3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: column;
}

.box {
  background-color: rgba(255, 0, 191, 0.479);
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img {
  height: auto;
  width: auto;
}
