* {
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  height: 5rem;
  width: auto;
}

button {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
}

button:hover {
  background-color: rgb(65, 65, 65);
  color: rgba(0, 0, 0, 0.74);
}

h1 {
  color: pink;
}
