/* UNIVERSAL ELEMENT TO APPLY OUR DEFAULT STYLING*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*when you select an HTML element, the styles will apply to that element and all its children*/
header {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
}

h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

/* selector with a class name --> class names are reusable */
.ribbon {
  background-color: rgba(147, 206, 255, 0.3);
  padding: 1rem;
  margin-bottom: 25px;
  border: 0px;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

body {
  background-color: #f5f5f5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  margin-top: 25px;
  margin-bottom: 25px;
}

section {
  margin-top: 10px;
}
p {
  padding: 0;
  margin: 0;
}

#image {
  display: block;
  margin: 15px;
  width: 30%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

/* selector with an id --> ids are unique */
#referrals {
  font-style: italic;
}

.main-btn {
  background-color: rgba(147, 206, 255, 0.3);
  color: blue;
  font-weight: bold;
  display: flex;
}

/* ----cont'here  */

.header-btn {
  background-color: blue;
  color: whitesmoke;
}

/* nested selectors --> first element is the parent, then the child we are selecting */
header button {
  background-color: blue;
  color: whitesmoke;
}

.header-img {
  /* pixels are static */
  height: 250px;
  width: auto;
}

/* pseudo-class is a more interactive way of selecting an element */
#main-btn:hover {
  background-color: violet;
  color: blu;
}
