/*when you select an HTML element, the styles will apply to that element and all its children*/
body {
  background-color: whitesmoke;
  font-family: "Times New Roman", Times, serif;
  font-size: 12px;
}
