* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-gap: 25px;
  grid-auto-flow: row;
  grid-template-columns: auto;
  grid-template-rows: auto;
}

img {
  height: 500px;
  width: auto;
}

video {
  height: 500px;
  width: auto;
}

#gif {
  height: 150px;
  width: auto;
}
