* {
  box-sizing: border-box;
}

.box {
  background: fuchsia;
  width: 100px;
  height: 100px;
  border: 10px solid black;
  margin: 10px;
  padding: 10px;
}

.second-box {
  background: teal;
  width: 100px;
  height: 100px;
  border: 10px solid greenyellow;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

#green {
  font-family: Arial, Helvetica, sans-serif;
}

img {
  height: 2rem;
  width: 3rem;
  background-color: blueviolet;
}
