/* for a more complex reset, instead of *; follow Manny's link*/

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/** BODY  **/

body {
  background-color: rgba(255, 255, 255, 0.25);
}

h1 {
  font-family: ink free;
  padding: 1rem;
  color: white;
  -webkit-text-stroke: 0.1px black;
  font-size: 6rem;
  font-weight: 1000;
}

h2 {
  padding: 1rem;
  font-family: calibri;
  text-wrap: wrap;
  color: black;
  font-size: 2rem;
  text-align: center;
}

h3 {
  font-family: calibri;
}

p {
  font-family: calibri;
}

#game-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

header {
  background-image: url("../public/assets/background.webp");
  opacity: 0.9;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-image: url("../public/assets/background.webp");
  opacity: 0.9;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 900;
  font-size: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: center;
  grid-column-start: 1;
  grid-row-start: 2;
}

/** SHOP CONTAINER **/

#shop-container {
  padding: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  grid-column: span 4;
  grid-row-start: 2;
}

/** IMAGE DIV **/

#image-div {
  display: grid;
  grid-column-start: 2;
  grid-row-start: 1;
}

#cat-image {
  /* position: absolute; */
  height: 20rem;
  width: auto;
  box-shadow: 0 0 50px rgb(63, 54, 49);
  border-radius: 100%;
}

#image-button {
  height: 20rem;
  width: auto;
  box-shadow: 0 0 50px rgb(255, 115, 50);
  border-style: none;
  border-radius: 100%;
}

#image-button:hover {
  height: 20rem;
  width: auto;
  background: rgba(241, 15, 241, 0.5);
  box-shadow: 0 0 10px rgb(255, 81, 0);
  border-radius: 100%;
}

/** BUY BUTTON **/
button {
  width: 5em;
  height: 3em;
  /* z-index: 100; */
  /* border-radius: 50%; */
  background-color: rgba(255, 255, 255, 0.25);
  color: rgb(255, 115, 0);
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  font-size: 0.75rem;
  font-weight: 750;
}

.buy-button:hover {
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
}

#button-div {
  padding: 3rem;
  display: flex;
  justify-content: center;
}

/** GAME STATS **/

p#cookie-count {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 750;
  display: grid;
  grid-column-start: 1;
  align-items: center;
  justify-content: center;
  text-wrap: wrap;
}

p#cps-count {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2rem;
  font-weight: 750;
  display: grid;
  grid-column-start: 3;
  align-items: center;
  justify-content: left;
  text-wrap: wrap;
}
