figure {
  border: 1px solid lightgray;
  padding: 10px;
  max-width: fit-content;
  text-align: center;
}

img {
  max-width: auto;
  height: 25vw;
  margin: 5px;
}

figcaption {
  color: grey;
  font-family: Arial;
}

.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
